h1, h2, h3, h4, p{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1,h2,h3
{
  color: grey;
}
}
h1 {
  color: blue;
  font-size: 26px;
  text-transform:uppercase;
  font-style:oblique;
}
h2{
    font-size: 40px;
}

h3{
  font-size: 30px;
}
h4{
  font-size: 20px;
  text-align: center;

}
p{
  font-size:22px;
  line-height: 1.5;
}
li{
   font-size: 20px;
}
footer p{
  font-size: 16px;

}
#author
{
  font-size: 18px;
  font-style: italic; 
}
.bold{
  font-size: 18px;
  font-weight: bold;
}
.remove{
  list-style: none;
}
.colour
{
  background-color: bisque;
} 
aside{
  background-color:bisque;
  border-top:5px solid grey;
  border-bottom:5px solid grey;

}
body{
  /* background-color: green; */
}
li:last-child{
   font-weight: bold;
}
li:nth-child(odd){
   color: brown;
}
/* misconception this won't work
article p:first-child{
  color: brown;
}*/
article p:last-child{
  color: brown;
}

a:link{
  color:red;
  text-decoration: none;
}